{% block product_cards %}
{% for p in products %}

<div class="col h-100 mb-2">
    <div class="h-50 w-100 rounded bg-secondary" style="aspect-ratio: 2/1; background-image: url('{{ p.bg }}'); background-size: cover; background-position: center;">
    </div>
    <div class="card border-0 h-50">
        <div class="card-body h-100">
            <h5 class="card-title">{{ p.name }}</h5>
            <p class="card-text">{{ p.description }}</p>
            <div class="input-group w-75 m-auto">
                <a href="" class="btn btn-success w-100">Заказать</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}