{% block product_body_characteristics %}
<div class="tab-pane show" id="characteristics-tab-pane" role="tabpanel"
    aria-labelledby="home-tab" tabindex="0">
    <p>
        Тут будут характеристики товара
    </p>
</div>
{% endblock %}