{% block product_body_reviews %}
<div class="tab-pane show" id="reviews-tab-pane" role="tabpanel"
    aria-labelledby="home-tab" tabindex="0">
    <p>
        Тут будут обзоры товара
    </p>
</div>
{% endblock %}