{% block product_body_tab_menu %}
<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
    <li class="nav-item" role="presentation">
        <button class="nav-link show {{ tab.active }} text-dark" aria-current="page" id="tab-{{ tab.name }}" data-bs-toggle="tab" data-bs-target="#{{ tab.name }}-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">
            {{ tab.body }}
        </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}