{% block ad_carousel %}
<div class="container-xl container-md container-sm container-xs mx-0 h-100">
    {% for card in cards %}

    <div class="card text-dark border-0">
        <div class="row mb-1 h-50">
            <div class="col-xl-4 col-md-6 col-sm-6 col-xs-12 rounded
                bg-secondary" style="aspect-ratio: 5/2;
                background-image: url('{{ card.ad_bg }}');
                background-size: cover;
                background-position: center;"></div>
            <div class="col-xl-8 col-md-6 col-sm-6 col-xs-12">
                <div class="card-body">
                    <h5 class="card-title">
                        {{card.product_name }}
                    </h5>
                    <p class="card-text">
                        {{ card.product_description }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            Продано {{ card.product_times_bought }}+ штук
                        </small>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endblock %}