{% block footer_block %}
<div class="card mb-3">
  <div class="row">
    <div class="card-header bg-lght border-0 text-center">DevTechStore</div>
  </div>
  <div class="card-body">
    <div class="row w-100">

      {% for fb in footer_blocks %}
      <div class="col-xs-12 col-sm-12 col-md-6 col-xl-3 rounded text-dark mx-0 w-sm-auto w-md-auto w-xl-auto">
        <div class="h5 text-center w-100">{{ fb.header }}</div>
        <div class="btn-group-vertical w-100">
          {% for l in fb.links %}
            <div><a class="btn btn-outline-dark border-0 py-auto" href="/{{ l }}">{{ l }}</a></div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}