{% block new_products %}
<div class="h1 text-center mb-3">Новинки</div>
<div class="card-group h-100">
    {% for i in 0..3 %}

    <div class="card h-100">
        <div class="h-50 w-100 bg-secondary" style="aspect-ratio: 2/1;">
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting
                text below
                as a natural lead-in to additional content. This content is a
                little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}