{% block product_body_description %}
<div class="tab-pane show active" id="description-tab-pane" role="tabpanel"
    aria-labelledby="home-tab" tabindex="0">
    <p>
        Тут будет описание товара
    </p>
</div>
{% endblock %}