{% block product_body_delivery %}
<div class="tab-pane show" id="delivery-tab-pane" role="tabpanel"
    aria-labelledby="home-tab" tabindex="0">
    <p>
        Тут будет информация о доставке товара
    </p>
</div>
{% endblock %}