{% block services_block %}
{# <div class="col-12 col-sm-12 col-md-6 col-lg-12 col-xl-12">
    <div class="d-flex justify-content-end col h-100 mb-2">
        <div class="input-group w-75">
            <input type="text" class="form-control">
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle"
                    type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Доп. услуги</button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item">Расширенная гарантия</button></li>
                    <li><button class="dropdown-item">Установка ОС и ПО</button></li>
                    <li><button class="dropdown-item">Покрытие защитной пленкой</button></li>
                </ul>
            </div>
        </div>
    </div>
</div> #}
{% endblock %}