{% block side_bar %}
<div class="container-xl container-md container-sm container-xs rounded h-100">
    <div class="row gx-0">
        <button class="btn text-dark dropdown-toggle w-100" id="collapse-btn"
            type="button" data-bs-toggle="collapse"
            data-bs-target="#catalogue" aria-controls="catalogue"
            aria-expanded="false" aria-label="Toggle navigation">
            <span>Каталог</span>
        </button>
    </div>
    <div class="collapse gx-0" id="catalogue">
        {% for cat in categories %}
        <div class="row">
            <div class="btn-group dropdown">
                <button type="button" class="btn text-dark
                    dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ cat.name }}
                </button>
                <ul class="dropdown-menu w-75">
                    {% for p in cat.producers %}
                        <li><a class="dropdown-item" href="/catalogue/{{ cat.slug }}/{{ p }}">{{ p }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row gx-0">
        <a type="button" class="btn text-dark position-relative">
            Отложенные
            <span class="badge bg-warning text-dark">
                11
            </span>
        </a>
        <a type="button" class="btn text-dark position-relative">
            Корзина
            <span class="badge bg-danger">
                2
            </span>
        </a>
        <p hidden id="current-widnow-size"></p>
    </div>
</div>

<script type="text/javascript" src="/assets/scripts/side_bar/expandOnLoad.js"></script>
<script type="text/javascript" src="/assets/scripts/side_bar/expandOnResize.js"></script>
{% endblock %}