{% block store_gallery %}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="rounded
                bg-secondary" style="aspect-ratio: 7/2;
                background-color: darkgrey;
                background-size: cover;
                background-position: center;"></div>
        </div>
        <div class="carousel-item">
            <div class="rounded
                bg-warning" style="aspect-ratio: 7/2;
                background-color: red;
                background-size: cover;
                background-position: center;"></div>
        </div>
        <div class="carousel-item">
            <div class="rounded
                bg-danger" style="aspect-ratio: 7/2;
                background-color: blue;
                background-size: cover;
                background-position: center;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущая</span>
    </button>
    <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующая</span>
    </button>
</div>
{% endblock %}