{% block top_nav_bar %}
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">DTS</a>
    <button class="navbar-toggler" id="navBar-collapse-btn" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle
      navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px;">
        <li class="nav-item text-center">
          <a class="btn btn-dark m-2 p-2" aria-current="page" href="/about">О
            нас</a>
        </li>
        <li class="nav-item text-center">
          <a class="btn btn-dark m-2 p-2" href="/delivery">Доставка</a>
        </li>
        <li class="nav-item dropdown text-center">
          <div>
            <a class="btn btn-dark m-2 p-2 dropdown-toggle w-100" href="#"
              id="navbarScrollingDropdown" role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              +375-44-708-31-98
            </a>
            <ul class="dropdown-menu mx-2 p-2 w-100"
              aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">+375-17-666-66-66</a></li>
              <li><a class="dropdown-item" href="#">+375-29-299-29-29</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item text-center">
          <a class="btn btn-dark m-2 p-2" href="/contacts" tabindex="-1"
            aria-disabled="true">Контакты</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control m-1" type="search" placeholder="Искать по каталогу" aria-label="Search">
        <button class="btn btn-outline-light text-light m-1" type="submit">Найти</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}
